name: check-dist-diff

on:
  pull_request:

jobs:
  check-dist-diff:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Build
        run: |
          npm install
          npm run build

      - name: Check diff
        run: |
          git diff --exit-code dist/ || exit 1
