name: test

on:
  pull_request:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up git-cliff
        uses: ./

      - name: Run git-cliff
        run: |
          git cliff
